
body{
    font-family: sans-serif;
    text-transform: uppercase;
    
    background-color: rgb(82, 202, 202);
    background-image: url();
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
}

h1{
    font-family: sans-serif;
    text-align: center;
    color: rgb(198, 231, 12);
}

h2{
    font-family: sans-serif;
    text-align: center;
    color: rgb(198, 231, 12);
}

p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(198, 231, 12);
}

label{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    
}

#name{
    text-align: auto;
    color: rgb(198, 231, 12);
    
}

#email{
    text-align: auto;
    color: rgb(198, 231, 12);
    
}

#idade{
    text-align: auto;
    color: rgb(198, 231, 12);
    
}

#senha{
    text-align: auto;
    color: rgb(198, 231, 12);
    
}

.cortexto{
    text-align: auto;
    color: rgb(198, 231, 12);
}
.titleheader{
    text-align: center;
    
}



#descreva{
    padding: 0.2em;
    
    box-shadow: 2px 2px 2px rgb(20, 24, 24);
    margin: 0px; 
    width: 801px; 
    height: 101px;

    border:fixed;
    
    
}


form{
    background-color: rgb(20, 24, 24);
    align-content: center;
	height: 20%;
	opacity: 0.8;
    text-align: center;
    
    
}

.corletra{
    color: rgb(198, 231, 12);
    
}

.botao {
    font-size: 1.2em;
    background: #bec7d8;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(187, 4, 243, 0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: center;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.botao:hover{
    background: #45a9d8;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

input, select, textarea, button{
    border-radius: 5px;
    
}

.selecionar{
    font-family: sans-serif;
    margin-left: 1em;
    color: rgb(18, 98, 202);
}

