body{
    font-family: sans-serif;
    text-transform: uppercase;
    
    
    background-image: url(img/shutterstock_559799125-compressed.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#name{
    text-align: left; ;
    color: brown;
    
}

.titleheader{
    text-align: center;
    
}

#descreva{
    height:200px;
    width: 500px;
}

.formato{
    text-align: center;
   
}
form{
    
    background-color: rgb(0, 255, 242);
    height:800px;
    width:800px;
    opacity: 0.5;
    
}







